.body { font-family: 'Inter', sans-serif; }

.active-tab 

{
    background-color: #3f10e7 !important;
    color: white !important;
    box-shadow: 0 4px 12px rgba(92, 45, 255, 0.2);
}

.issue-card 

{
    transition: all 0.2s ease-in-out;
}

.issue-card:hover 

{
    transform: translateY(-4px);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}
